<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <%- include('partials/header'); %>
  <body>
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>
  </body>
  <%- include('partials/footer'); %>
</html>
